@import url('https://fonts.googleapis.com/css2?family=Amita&family=Cookie&family=Lobster&family=Pacifico&family=Rampart+One&family=Varela+Round&display=swap');

* {
    font-family: 'varela round', serif;
    font-weight: bolder;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #B1DDF1;
    color: white;
    height: 100vh;
}
.user {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 70px;
    padding: 1.5px 3px;
    background-color: rgba(70, 70, 70, 0);
}

.user-logo {
    width: 27px;
    height: 27px;
    background-color: rgb(70, 70, 70);
    border: 2px solid white;
    border-radius: 50%;
    text-align: center;
    padding: 3px;
    margin: 3px;
}

.user:hover {
    cursor: pointer;
    background-color: rgba(70, 70, 70, 1);
    transition: background-color 0.15s ease-out;
}

.user:hover .logout {
    transition: opacity 0.15s ease-out;
    opacity: 1;
}

.logout {
    position: absolute;
    width: 100%;
    bottom: -30px;
    right: 0.5px;
    z-index: 5;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    background-color: rgba(70, 70, 70, 1);
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    opacity: 0;
}

.logout:hover {
    color: white;
}

.login {
    color: white;
    text-decoration: none;
    padding: 5px;
}

/**********Branding**********/

.brand {
    font-size: 4.5rem;
    text-align: center;
    padding: 10px;
}

.brand .chanotas {
    font-family: cookie;
    color: #064789;
    text-shadow: 3px 3px #EBF2FA;
    text-decoration: none;
}

.brand .chatter {
    font-family: Amita, verdana;
    color: #254441;
    text-shadow: 3px 3px white;
}

.brand .noter {
    font-family: pacifico, verdana;
    color: gray;
    text-shadow: 3px 3px black;
}

.brand .tasker {
    font-family: 'Rampart One', verdana;
    color: #534D41;
    text-shadow: 2px 2px white;
}

.brand .by {
    font-family: monospace;
    font-size: 1.3rem;
    vertical-align: middle;
    color: gray;
    text-shadow: none;
}

.app-name-cont {
    position: relative;
}

.by-chanotas-cont {
    position: absolute;
    left: 0;
    bottom: 11px;
    z-index: 2;
    text-align: center;
    width: 105px;
    padding: 0 5px 5px 5px;
    background-color: rgb(47, 47, 47);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: transform 0.3s ease-out;
}

.app-name-cont .mask {
    position: absolute;
    z-index: 3;
    bottom: 12px;
    width: 105px;
    height: 50px;
    background-color: rgb(47, 47, 47);
}

.app-name-cont:hover .by-chanotas-cont{
    transform: translateY(32px);
}

.by-chanotas-cont .by {
    font-family: monospace;
    font-size: 1rem;
    color: lightgray;
    text-shadow: none;
    /* vertical-align: middle; */
}

.by-chanotas-cont .chanotas {
    font-family: cookie, verdana;
    font-size: 1.5rem;
    color: #064789;
    text-shadow: 1.3px 1.3px #EBF2FA;
    text-decoration: none;
}

.by-chanotas-cont .light {
    color: #EBF2FA;
    text-shadow: 1.3px 1.3px #064789;
}

.by-chanotas-cont .chanotas:hover {
    text-decoration: underline;
}