{% extends 'base.html' %}
{% block title %} Chanotas {% endblock %}

{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'accounts/css/login-signup.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/css/home.css' %}">
{% endblock head %}    

{% block content %}
{% include 'partials/user-account.html' %}
<div class="all-container">
        <header class="brand"><a class="chanotas" href="{% url 'home' %}">Chanotas</a></header>
        <h2 class="welcome">Welcome <span>{{ user.first_name }} {{ user.last_name }}</span>!</h2>
        <div class="apps-cont">
            <a class="chatter" href="{% url 'chatter:home' %}">
                <span>Chatter</span>
                <div>A chatting App</div>
            </a>
            <a class="noter" href="{% url 'noter:home' %}">
                <span>Noter</span>
                <div>A Note taking App</div>
            </a>
            <a class="tasker" href="{% url 'tasker:today-todo' %}">
                <span>Tasker</span>
                <div>A todo App</div>
            </a>
        </div>
    </div>
    
{% endblock %}