{% extends 'base.html' %}
{% block title %} Log in {% endblock %}


{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'accounts/css/login-signup.css' %}">
{% endblock head %}

{% block content %}
    <header class="brand">

        {% if 'chatter' in next %}
        <span class="chatter">Chatter <span class="by">&nbsp;by&nbsp;</span></span>
        {% elif 'noter' in next %}
        <span class="noter">Noter <span class="by">&nbsp;by&nbsp;</span></span>
        {% elif 'tasker' in next %}
        <span class="tasker">Tasker <span class="by">&nbsp;by&nbsp;</span></span>
        {% endif %}

        <a class="chanotas" href="{% url 'home' %}">Chanotas</a>
    </header>
    <form class="center-form" action="" method="post">
        {% csrf_token %}
        <fieldset>
            {% if incorrect %}
            <span class="incorrect-cred">Username or password is incorrect</span>
            {% endif %}
            <header>- Log in -</header>
            <ul>
                <li>
                    <input type="text" name="username" id="username" placeholder="Username" autocapitalize="none" value="{{ username }}" required>
                </li>
                <li>
                    <input type="password" name="password" id="password" placeholder="Password" required>
                </li>
                <li>
                    <input type="submit" value="Log in" disabled>
                </li>
            </ul>
        </fieldset>
        <h4 class="signup-login-switch">Don't have an account? <a href="{% url 'accounts:signup' %}{% if next %}?next={{ next }}{% endif %}">Sign Up!</a></h4>
    </form>
    <script>
        const loginBtn = document.querySelector("input[type='submit']")
        const username = document.getElementById("username")
        const password = document.getElementById("password")

        function enableLogin(){
            if (username.value && password.value){
                loginBtn.disabled = false
            } else {
                loginBtn.disabled = true
            }
        }
        
        username.oninput = enableLogin
        password.oninput = enableLogin

        if (!'{{ incorrect }}'){
            document.querySelector('input[type="text"]:first-child').focus()
        } else {
            document.querySelector('input[type="password"]:first-child').focus()
        }
        const incorrectCred = document.querySelector('.incorrect-cred')
        if (incorrectCred){
            setTimeout(function(){
                incorrectCred.style.opacity = 0
            }, 2000)
        }
    </script>

{% endblock %}