{% extends 'base.html' %}
{% block title %} Sign Up {% endblock %}

{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'accounts/css/login-signup.css' %}">
    <script src="{% static 'accounts/js/signup.js' %}" defer></script>
{% endblock head %}

{% block content %}
    <header class="brand">

        {% if 'chatter' in next %}
        <span class="chatter">Chatter <span class="by">&nbsp;by&nbsp;</span></span>
        {% elif 'noter' in next %}
        <span class="noter">Noter <span class="by">&nbsp;by&nbsp;</span></span>
        {% elif 'tasker' in next %}
        <span class="tasker">Tasker <span class="by">&nbsp;by&nbsp;</span></span>
        {% endif %}

        <a class="chanotas" href="{% url 'home' %}">Chanotas</a>
    </header>
    <form class="center-form" action="" method="post">
        <fieldset>
            {% csrf_token %}
            <header>- Sign Up! -</header>
            <ul>
                <li>
                    <input type="text" name="firstname" id="firstName" placeholder="First name" required>
                </li>
                <li>
                    <input type="text" name="lastname" id="lastName" placeholder="Last name" required>
                </li>
                <li class="username-container">
                    <input type="text" name="username" id="username" placeholder="Username" required>
                    <div class="check-username-div">
                        <img src="{% static 'img/spinner.gif' %}" alt="">
                        <span></span>
                    </div>
                </li>
                <li class="email-container">
                    <input type="email" name="email" id="email" placeholder="Email" required>
                    <span></span>
                </li>
                <li>
                    <input type="password" name="password" id="password" placeholder="Password" required>
                    <ul class="password-criteria">
                        <li id="lc" class="failed">Lowercase letters</li>
                        <li id="uc" class="failed">Uppercase letters</li>
                        <li id="n" class="failed">Numbers</li>
                        <li id="s" class="failed">At least 1 symbol</li>
                        <li id="ws" class="passed">No whitespace</li>
                        <li id="len" class="failed">8 characters or more</li>
                    </ul>
                </li>
                <li>
                    <input type="password" name="re-password" id="re-password" placeholder="Re-enter Password" required>
                    <span>Password doesn't match</span>
                </li>
                <li>
                    <input type="submit" value="Submit" disabled>
                </li>
            </ul>
        </fieldset>
        <h4 class="signup-login-switch">Already have an account? <a href="{% url 'accounts:login' %}{% if next %}?next={{ next }}{% endif %}">Log in!</a></h4>
    </form>
    <!-- <button class="press-me">Press Me!</button> -->
    <script>
        window.csrf = '{{ csrf_token }}'
        window.checkUserEmail = "{% url 'accounts:check-user-email' %}"
    </script>

{% endblock %}